<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area"
    style="background: rgba(0, 0, 0, 0) url('assets/img/about/1.jpg'); background-size: cover">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">NOSOTROS</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->

<!--About Page Area Start-->
<div class="about-page-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>¿Quienes Somos?</h3>
                        <p>There are many variations of passages</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="about-text-container">
                    <p><span>¿Quiénes somos?</span> <br />
                        Somos un proveedor global de conocimiento y soluciones de ingenieria en el sector de las TIC.
                        Contamos con más de 15 años de experiencia en el mercado y un selecto grupo de profesionales de
                        alto nivel que brindan servicios de capacitacion practica con maquetas reales o virtuales
                        enfocadas a las necesidades reales de los profesionales del sector. Con E&S UNIVERSITY como HALP
                        (Huawei authorized learning partner) creceras profesionalmente, especializandote en una linea de
                        negocio, obtendras certificaciones HCNA, HCNP, HCIE y lograras aumentar tus oportunidades
                        laborales! Consulta nuestros cursos disponibles y capacitate con E&S!<br />
                        En E&S Engineering!!! Somos partner regionales de los principales proveedores y operadores de
                        telefonia fija y movil y ofrecemos Servicios integrados de ingenieria de telecomunicaciones como
                        Implementacion, comisionamiento, operacion y matenimiento en campo y remoto, gestion de
                        performance, auditorias, consultorias y servicios de planeacion y optimizacion con personal
                        experto y procesos eficientes que cumplen con el sistema Integrado de gestión de calidad ISO
                        9001-2015.
                    </p>

                    <p><span>Misión</span> <br /> E&S es una compañía dedicada a promover la investigación, la difusión
                        del conocimiento y el desarrollo de estrategias para el crecimiento profesional. Proponemos
                        soluciones de ingeniería que contribuyen a la productividad de nuestros clientes a través de
                        servicios de capacitación técnica y de gestión; consultoría; planificación y optimización de
                        red; gestión de desempeño y troubleshooting avanzado. <br />
                        E&S provee soluciones de ingeniería y transferencia de conocimiento a través de sofisticadas
                        estrategias de enseñanza, procedimientos, calidad garantizada e ingenieros con amplia
                        experiencia y conocimiento que proporcionan al cliente una alta productividad, competitividad y
                        calidad del servicio.</p>

                    <p><span>Visión</span> <br />Ser una compañía reconocida a nivel mundial por el fortalecimiento de
                        la productividad de nuestros clientes, a través de servicios especializados de alto valor,
                        calidad y eficiencia.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <div class="skill-image">
                    <img src="assets/img/about/Who-we-are.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of About Page Area-->


<!--Skill And Experience Area Start-->
<div class="skill-and-experience-area " style="margin-bottom: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>Skills y Experiencia</h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="experience-skill-wrapper">
                    <div class="skill-bar-item">
                        <span>Trabajo en equipo</span>
                        <div class="progress">
                            <div class="progress-bar wow fadeInLeft" data-progress="100%" style="width: 100%;"
                                data-wow-duration="1.5s" data-wow-delay="1.2s">
                                <span class="text-top">100%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill-bar-item">
                        <span>Entrenamiento</span>
                        <div class="progress">
                            <div class="progress-bar wow fadeInLeft" data-progress="98%" style="width: 100%;"
                                data-wow-duration="1.5s" data-wow-delay="1.2s">
                                <span class="text-top">98%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill-bar-item">
                        <span>Consultoría</span>
                        <div class="progress">
                            <div class="progress-bar wow fadeInLeft" data-progress="97%" style="width: 100%;"
                                data-wow-duration="1.5s" data-wow-delay="1.2s">
                                <span class="text-top">97%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="experience-skill-wrapper">
                    <div class="skill-bar-item">
                        <span>Enseñanza</span>
                        <div class="progress">
                            <div class="progress-bar wow fadeInLeft" data-progress="99%" style="width: 99%;"
                                data-wow-duration="1.5s" data-wow-delay="1.2s">
                                <span class="text-top">99%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill-bar-item">
                        <span>Conocimientos técnicos en TIC</span>
                        <div class="progress">
                            <div class="progress-bar wow fadeInLeft" data-progress="98%" style="width: 98%;"
                                data-wow-duration="1.5s" data-wow-delay="1.2s">
                                <span class="text-top">98%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill-bar-item">
                        <span>Conocimientos en B&M</span>
                        <div class="progress">
                            <div class="progress-bar wow fadeInLeft" data-progress="97%" style="width: 97%;"
                                data-wow-duration="1.5s" data-wow-delay="1.2s">
                                <span class="text-top">97%</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12 col-sm-12" style="margin-top: 20px;">
                <div class="skill-bar-item">
                    <span>Gestión de Proyectos</span>
                    <div class="progress">
                        <div class="progress-bar wow fadeInLeft" data-progress="100%" style="width: 100%;"
                            data-wow-duration="1.5s" data-wow-delay="1.2s">
                            <span class="text-top">100%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--End of Skill And Experience Area-->
<div class="separator"></div>
<!--Teachers Area Start-->
<div class="teachers-area padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title" style="padding-top: 10px;">
                        <h3>NUESTRAS ÁREAS DE TRABAJO</h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>

        <owl-carousel [options]="carouselOptions">

            <div class="col-md-12">
                <div class="single-teacher-item">
                    <div class="single-teacher-image">
                        <a><img src="assets/img/about/areas/Management.jpg" alt="Administrativa y financiera"></a>
                    </div>
                    <div class="single-teacher-text">
                        <h3><a>GERENCIA</a></h3>
                        <p class="text-justify">Establece el direccionamiento que tiene la empresa, se plantean las
                            metas y objetivos estratégicos a corto, mediano y largo plazo de la organización, entre
                            otros.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="single-teacher-item">
                    <div class="single-teacher-image">
                        <a><img src="assets/img/about/areas/Financial.jpg" alt="Comercial"></a>
                    </div>
                    <div class="single-teacher-text">
                        <h3><a>ADMINISTRATIVA Y FINANCIERA</a></h3>
                        <p class="text-justify">Departamento encargado del control y gestión de los recursos financieros
                            de la organización. Garantiza la facturación, pagos de nómina y proveedores, compras,
                            registro de gastos y contabilidad. Realiza el pago adecuado de impuestos y se encarga de la
                            administración de activos y patrimonios de la organización.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="single-teacher-item">
                    <div class="single-teacher-image">
                        <a><img src="assets/img/about/areas/Business.jpg" alt="HSEQ"></a>
                    </div>
                    <div class="single-teacher-text">
                        <h3><a href="#">COMERCIAL</a></h3>
                        <p class="text-justify">Comprende el área comercial Internacional y el área comercial de
                            Colombia la cual tiene como función el relacionamiento con nuestros clientes y la
                            consecución de nuevas oportunidades de negocio. Garantizando la satisfacción de cada uno de
                            nuestros clientes.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="single-teacher-item">
                    <div class="single-teacher-image">
                        <a><img src="assets/img/about/areas/HSEQ.jpg" alt=""></a>
                    </div>
                    <div class="single-teacher-text">
                        <h3><a>HSEQ</a></h3>
                        <p class="text-justify">Este departamento lidera la gestión de la calidad en la organización,
                            lidera procesos de auditoría interna para verificar el cumplimiento de planes de acción y
                            mejoramiento continuo. Vela por la seguridad y salud en el trabajo y garantiza un entorno
                            laboral adecuado para cumplimiento de las funciones. También es responsable de la gestión
                            documental de procesos, procedimientos e instructivos, así como de la gestión de manuales de
                            cargo y establecimiento de indicadores de gestión.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="single-teacher-item">
                    <div class="single-teacher-image">
                        <a><img src="assets/img/about/areas/IT.jpg" alt=""></a>
                    </div>
                    <div class="single-teacher-text">
                        <h3><a>IT</a></h3>
                        <p class="text-justify">Gestiona la administración de las herramientas tecnológicas, la
                            plataforma e-learning de E&S, brinda acompañamiento de proyectos de educación virtual. Del
                            mismo modo otorga soporte ofimático, presencial o remoto, a los empleados de E&S para
                            desarrollar proyectos de mejora de procesos internos, ejecución de auditorías internas para
                            seguimiento de correos, mantenimiento a los equipos, administración de dispositivos y del
                            portal web www.eysglobal.com.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="single-teacher-item">
                    <div class="single-teacher-image">
                        <a><img src="assets/img/about/areas/Presales.jpg" alt=""></a>
                    </div>
                    <div class="single-teacher-text">
                        <h3><a>PREVENTA</a></h3>
                        <p class="text-justify">Departamento encargado de hacer viables y rentables los potenciales
                            negocios que puedan requerir nuestros clientes. Se encarga de realizar el respectivo estudio
                            de mercado para cada proyecto que surge y de ser viable lo convierten en realidad entregando
                            la mejor cotización posible para nuestro cliente y para nosotros.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="single-teacher-item">
                    <div class="single-teacher-image">
                        <a><img src="assets/img/about/areas/Marketing.jpg" alt=""></a>
                    </div>
                    <div class="single-teacher-text">
                        <h3><a>MARKETING</a></h3>
                        <p class="text-justify">El departamento de Marketing en E&S es el área encargada de generar la
                            planeación estratégica de la compañía basados en las necesidades del mercado siempre con
                            miras a mejorar el posicionamiento de la organización. Trabajamos a diario en la divulgación
                            y promoción de marca, con un impecable labor en el diseño de piezas publicitarias que nos
                            permite divulgar la pauta física y digital de la manera mas optima y oportuna. Nuestro
                            aporte hacia la empresa es la de generar mayor visibilidad corporativa y aumento de las
                            oportunidades comerciales para que cada día E&S sea más grande en su tarea de aportar
                            conocimiento en diferentes áreas a la comunidad tecnologíca y empresarial de hoy en día.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="single-teacher-item">
                    <div class="single-teacher-image">
                        <a><img src="assets/img/about/areas/Operations.jpg" alt=""></a>
                    </div>
                    <div class="single-teacher-text">
                        <h3><a>GESTIÓN DE PROYECTOS</a></h3>
                        <p class="text-justify">Se encarga de sacar adelante, con la mejor calidad, los proyectos
                            ofertados por el área comercial. Augurando el éxito de las operaciones.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="single-teacher-item">
                    <div class="single-teacher-image">
                        <a><img src="assets/img/about/areas/Human-Resources.jpg" alt=""></a>
                    </div>
                    <div class="single-teacher-text">
                        <h3><a>RECURSOS HUMANOS</a></h3>
                        <p class="text-justify">Área encargada de selección y gestión humana, velando por el crecimiento
                            de la organización, la respuesta a demandas de personal y garantizar el bienestar de los
                            integrantes de la organización, por medio de capacitaciones, celebraciones de aniversarios,
                            cumpleaños o fechas especiales. Este departamento garantiza la motivación del equipo y
                            vigila el cumplimiento del reglamento interno de trabajo. Así mismo, cuenta con la
                            responsabilidad de realizar actividades encaminadas a mejorar el clima laboral y de salud
                            ocupacional que garanticen el adecuado mantenimiento de la calidad de vida de los
                            colaboradores al interior de la compañía, con el fin de reducir la rotación de personal.</p>
                    </div>
                </div>
            </div>

        </owl-carousel>

    </div>
</div>
<!--End of Teachers Area-->

<!--Latest News Area Start-->
<div class="latest-area section-padding latest-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>NUESTRAS HERRAMIENTAS</h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="single-latest-item">
                    <div class="single-latest-text">
                        <h3><a>RECURSO HUMANO</a></h3>
                        <p>Contamos con profesionales especializados y entrenados para proveer servicios eficientes y de
                            alta calidad.</p>
                    </div>
                </div>
                <div class="single-latest-item">
                    <div class="single-latest-text">
                        <h3><a>SOLUCIONES EFECTIVAS</a></h3>
                        <p>Ofrecemos soluciones integrales a las necesidades puntuales de nuestros clientes;
                            asegurádoles calidad, conocimiento y experiencia en la prestación de nuestros servicios.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="single-latest-item">
                    <div class="single-latest-text">
                        <h3><a>CALIDAD</a></h3>
                        <p>Aplicando continuamente el sistema de gestión de la calidad. <br /> <br /></p>
                    </div>
                </div>
                <div class="single-latest-item">
                    <div class="single-latest-text">
                        <h3><a>INNOVACIÓN</a></h3>
                        <p>Nos adaptamos a las necesidades del mercado.<br />Diseñamos y planeamos estratégicamente el
                            desarrollo de nuestros servicios.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--End of Latest News Area-->